@import "../../../../general-styles/general-styles";

.Filters-header {
  height: 45px;
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);

  &__title {
    @extend %title-h1;
    margin-bottom: 0;
  }
}
